<div class="container-fliud">
  <div class="row">
    <div class="col-md-10 text-center">
      <footer role="contentinfo">
        <p><small>Welcome to quiz1</small></p>
      </footer>
    </div>
  </div>
</div>
