@import "bootstrap-sprockets";
@import "bootstrap";

$lilac_theme_color: #4da1a9;
$dark_lilac_theme_color: #40858c;
$dark_grey_theme_color: #7a7a7a;
$dark_grey_alternate_theme_color: #666666;
$light_grey_background_theme_color: #ececec;
$grey_border_theme_color: #ccc;

body {
  padding-top: 70px;
  background: #f9f9f9 !important;
}

.title-container {
  text-align: center;
}

.quiz-card {
  background: $light_grey_background_theme_color;
  box-shadow: 0 2px 5px rgba(51, 62, 73, 0.1);
  border-radius: 6px;
  border: 1px solid $grey_border_theme_color;
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 40%;
  color: $dark_grey_theme_color;

  a {
    color: $lilac_theme_color !important;
    text-decoration: none !important;
  }

  a:hover {
    color: $dark_lilac_theme_color !important;
  }
}

.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-padding {
  margin-top: 10px;
}

.navbar-styling {
  box-shadow: 0 3px 10px -4px rgba(51, 62, 73, 0.18), 0 6px 17px 2px rgba(51, 62, 73, 0.08);
  flex-direction: row;
}

.navbar-right {
  position: absolute;
  right: 0;
  padding-right: 20px;
}

.quiz-name {
  font-size: 2.5em;
  margin-bottom: 0.8em;
}

.quiz-description {
  font-size: 1.5em;
  color: $dark_grey_theme_color;
}

#new-quiz-btn {
  margin-bottom: 10px;
  color: $dark_grey_theme_color;
}

#quiz-date {
  margin-bottom: 40px;
}

.quiz-detail-name {
  font-size: 4em;
  margin-bottom: 40px;
  font-weight: 400;
  color: $dark_grey_theme_color;
}

.title-style {
  color: $dark_grey_theme_color;
}

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
  margin-left: 400px;
  margin-right: 400px;
}

.alert-alert {
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
  text-align: left;
  margin-left: 400px;
  margin-right: 400px;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
  margin-left: 400px;
  margin-right: 400px;
}

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
  margin-left: 400px;
  margin-right: 400px;
}

.form-control {
  min-height: 41px;
  background: #fff;
  box-shadow: none !important;
  border-color: #e3e3e3;

  &:focus {
    border-color: $lilac_theme_color !important;
  }
}

.form-control, .btn {
  border-radius: 2px;
}

.login-form form {
  color: $dark_grey_theme_color;
  margin-bottom: 15px;
  background: $light_grey_background_theme_color;
  box-shadow: 0 2px 5px rgba(51, 62, 73, 0.1);
  border-radius: 6px;
  border: 1px solid $grey_border_theme_color;
  padding: 30px;
  position: relative;
}

.login-form h2 {
  font-size: 22px;
  margin: 15px 0 20px;
  text-align: center;
}

.login-form .btn {
  font-weight: bold;
  background: $lilac_theme_color;
  border: none;
  margin-bottom: 20px;
  border-radius: 5px;
  display: block;
  width: 100%;
  text-decoration: none;
}

.login-form a {
  color: $lilac_theme_color;
  text-decoration: underline;
  border-radius: 50px;
  width: 100%;
}

.login-form a:hover {
  text-decoration: none;
}

.login-form form a {
  color: white;
  text-decoration: none;
}

.login-form form a:hover {
  text-decoration: underline;
}

.login-text {
  padding-top: 10px;
}

.login-form .btn:hover {
  background-color: $dark_lilac_theme_color !important;
  text-decoration: none;
}

a {
  text-decoration: none !important;
}

.icon-container {
  display: flex;
  justify-content: center;
  padding-top: 2em;
  color: $dark_grey_theme_color;

  .btn {
    font-weight: bold;
    background: $lilac_theme_color;
    border: none;
    margin-bottom: 20px;
    border-radius: 5px;
    display: block;
    width: 100%;
    text-decoration: none;
  }

  .btn:hover {
    background-color: $dark_lilac_theme_color !important;
    text-decoration: none;
  }
}

.title-text-color {
  color: $dark_grey_theme_color;
  padding: 10px;
}

.form-group-container {
  display: flex;
  justify-content: center;
}

.quiz-input-width {
  width: 30vw;
}

.alert-danger {
  margin-left: 400px;
  margin-right: 400px;
}

.quiz-page-container {
  text-align: center;
  //background-color: red;

  .btn-edit {
    margin-top: 20px;
    font-weight: bold;
    background: $dark_grey_theme_color;
    border: none;
    margin-bottom: 20px;
    border-radius: 5px;
    text-decoration: none;
  }

  .btn-edit:hover {
    background-color: $dark_grey_alternate_theme_color !important;
    text-decoration: none;
  }

  .btn-delete {
    margin-top: 20px;
    font-weight: bold;
    background: #a94442;
    border: none;
    margin-bottom: 20px;
    border-radius: 5px;
    text-decoration: none;
  }

  .btn-delete:hover {
    background-color: #933b39 !important;
    text-decoration: none;
  }
}

.quiz-container {
  display: flex;
  justify-content: center;
  text-align: left;
  padding: 10px;

  .quiz-background {
    background: $light_grey_background_theme_color;
    box-shadow: 0 2px 5px rgba(51, 62, 73, 0.1);
    border-radius: 6px;
    border: 1px solid $grey_border_theme_color;
    padding: 10px 40px;
    margin-bottom: 40px;
  }

  .btn {
    font-weight: bold;
    background: $lilac_theme_color;
    border: none;
    margin-bottom: 20px;
    border-radius: 5px;
    display: block;
    width: 100%;
    text-decoration: none;
  }

  .btn:hover {
    background-color: $dark_lilac_theme_color !important;
    text-decoration: none;
  }
}

.detail-quiz {
  padding: 30px;
}

.question-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.question-style {
  background: $light_grey_background_theme_color;
  box-shadow: 0 2px 5px rgba(51, 62, 73, 0.1);
  border-radius: 6px;
  border: 1px solid $grey_border_theme_color;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 45%;
  color: $dark_grey_theme_color;

  a:first-of-type {
    padding-right: 4em;
    color: $lilac_theme_color;
  }

  a:first-of-type:hover {
    color: $dark_lilac_theme_color;
  }

}
///* Media adjustment for 13 inch laptop devices of 1200px and up */
@media only screen and (min-width: 1200px) {
  .login-form {
    width: 20vw;
    margin: 0 auto;
    padding-top: 10vh;
  }
}

///* Media adjustment for larger displays of 1600px and up */
@media only screen and (min-width: 1600px) {
  .login-form {
    width: 18vw;
    margin: 0 auto;
    padding-top: 15vh;
  }
}
